<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<title>Sidebar Menu | Side Navigation Bar</title>-->
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base/style.css' %}" />
  <!-- Boxicons CSS -->
  <link
    href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    rel="stylesheet"
  />
  
  <style>
    nav {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .wrapper {
      display: grid;
      grid-template-columns: repeat(6, 6fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }

    .wrapper iframe {
      margin-top: 10px;
      margin-bottom: 50px;
      grid-column: 2 / 6;
      grid-row: 2;
      height: 550px;
      width: 100%;
    }

    .active {
      background-color: #4070f4;
    }

    .active span {
      color: #fff !important;
    }
  </style>
</head>
<body>
  <nav>
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">Sign Language Detector</span>
    </div>
    <div class="sidebar">
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Sign Language Detector</span>
      </div>

      <div class="sidebar-content">
        <ul class="lists">
            <li class="list">
              <a href="{% url 'App_main:hand-detection' %}" class="nav-link">
                <i class='bx bxs-hand-up icon'></i>
                <span class="link">Hand Detector</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'App_main:sign-to-text' %}" class="nav-link">
                <i class="bx bxs-hand icon"></i>
                <span class="link">Sign To Text</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'App_main:speech-to-sign' %}" class="nav-link">
                <i class="bx bx-message-rounded icon"></i>
                <span class="link">Speech to Text to Sign</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'App_main:about-us' %}" class="nav-link">
                <i class="bx bx-pie-chart-alt-2 icon"></i>
                <span class="link">About</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'App_main:project-documentation' %}" class="nav-link active">
                <i class="bx bx-heart icon"></i>
                <span class="link">Documentation</span>
              </a>
            </li>
          </ul>

        <div class="bottom-cotent">
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-cart-download icon"></i>
              <span class="link">Buy the trained model</span>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>

  <section class="overlay"></section>

  <script>
    const navBar = document.querySelector("nav"),
      menuBtns = document.querySelectorAll(".menu-icon"),
      overlay = document.querySelector(".overlay");

    menuBtns.forEach((menuBtn) => {
      menuBtn.addEventListener("click", () => {
        navBar.classList.toggle("open");
      });
    });

    overlay.addEventListener("click", () => {
      navBar.classList.remove("open");
    });
  </script>

  <div class="wrapper">
    <h2 style="text-align: center;">Our Project Documentation</h2>
    <iframe src="{% static 'pdf/finalYearBookPreviousCopy.pdf' %}" frameborder="0">
    </iframe>
  </div>
</body>
</html>
